body {
    background-color: ghostwhite;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 54px;
    text-align: center;
}

.header-class {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

div {
    text-align: center;
}

img {
    /* padding: 50px; */
    border: aqua 5px solid;
    margin: 25px;
    border-radius: 260px;
}

form {
    border: aqua 5px solid;
    border-radius: 5px;
    padding: 15px;
}